<!-- main app container -->
<div class="card m-3">
  <h5 class="card-header">Create a Delivery</h5>
  <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="form-group col-4">
              <label>Pick-Up Address</label>
              <input type="text" formControlName="pickup_address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pickup_address.errors }" />
              <div *ngIf="submitted && f.pickup_address.errors" class="invalid-feedback">
                  <div *ngIf="f.pickup_address.errors.required">Pick-Up address is required</div>
              </div>
            </div>
              <div class="form-group col-4">
                <label>Pick Up name</label>
                <input type="text" formControlName="pickup_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pickup_name.errors }" />
                <div *ngIf="submitted && f.pickup_name.errors" class="invalid-feedback">
                    <div *ngIf="f.pickup_name.errors.required">Pick-Up name is required</div>
                </div>
            </div>
            <div class="form-group col-4">
              <label>Pick Up Phone Number</label>
              <input type="text" formControlName="pickup_phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pickup_phone.errors }" />
              <div *ngIf="submitted && f.pickup_phone.errors" class="invalid-feedback">
                  <div *ngIf="f.pickup_phone.errors.required">Pick-up Phone Number is required</div>
              </div>
          </div>
              <div class="form-group col-4">
                <label>Drop-Off Address</label>
                <input type="text" formControlName="dropoff_address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dropoff_address.errors }" />
                <div *ngIf="submitted && f.dropoff_address.errors" class="invalid-feedback">
                    <div *ngIf="f.dropoff_address.errors.required">Drop-Off location is required</div>
                </div>
            </div>
            <div class="form-group col-4">
              <label>Drop-Off Name</label>
              <input type="text" formControlName="dropoff_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dropoff_name.errors }" />
              <div *ngIf="submitted && f.dropoff_name.errors" class="invalid-feedback">
                  <div *ngIf="f.dropoff_name.errors.required">Drop-Off Name is required</div>
              </div>
          </div>
          <div class="form-group col-4">
            <label>Drop-Off Phone Number</label>
            <input type="text" formControlName="dropoff_phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dropoff_phone.errors }" />
            <div *ngIf="submitted && f.dropoff_phone.errors" class="invalid-feedback">
                <div *ngIf="f.dropoff_phone.errors.required">Drop-Off Phone is required</div>
            </div>
        </div>

        <div class="form-group col-4">
          <label>Zebra Socks</label>
          <input type="number" formControlName="zebra_socks" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.zebra_socks.errors }" />
          <div *ngIf="submitted && f.zebra_socks.errors" class="invalid-feedback">
              <div *ngIf="f.zebra_socks.errors.required">Quantity is required</div>
          </div>
      </div>

      <div class="form-group col-4">
        <label>Leopard Socks</label>
        <input type="number" formControlName="Leopard_socks" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Leopard_socks.errors }" />
        <div *ngIf="submitted && f.Leopard_socks.errors" class="invalid-feedback">
            <div *ngIf="f.Leopard_socks.errors.required">Quantity is required</div>
        </div>
    </div>
              
          </div>
          <div class="form-group form-check">
              <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
              <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
              <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
          </div>
          <div class="text-center">
              <button class="btn btn-primary mr-1">Create My Quote</button>
              <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
          </div>
      </form>
  </div>
</div>
<div id="loading-indicator" *ngIf="loader" style="width: 60px; height: 60px;" role="progressbar" class="MuiCircularProgress-root MuiCircularProgress-colorPrimary MuiCircularProgress-indeterminate"><svg viewBox="22 22 44 44" class="MuiCircularProgress-svg"> <circle cx="44" cy="44" r="20.2" fill="none" stroke-width="3.6" class="MuiCircularProgress-circle MuiCircularProgress-circleIndeterminate"></circle></svg></div>

  
  <div *ngIf="deliverysuccess" class="o-circle c-container__circle o-circle__sign--success">
    <div class="o-circle__sign"></div>  
  </div>   
  
  <div *ngIf="fail" class="o-circle c-container__circle o-circle__sign--failure">
    <div class="o-circle__sign"></div>  
  </div>   
  

 
  <h4 *ngIf="quotesuccess">Item is Eligible for Delivery, creating delivery now</h4>
  <h4 *ngIf="deliverysuccess">Your delivery order has been submitted successfully</h4>


  <h4 class="success-message__title" *ngIf="fail">Item is Not Eligible for Delivery</h4>
  <div *ngIf="fail">
    <p>{{errorMessage}}</p>
</div> 


<div id="loading-indicator" *ngIf="deliveryLoader" style="width: 60px; height: 60px;" role="progressbar" class="MuiCircularProgress-root MuiCircularProgress-colorPrimary MuiCircularProgress-indeterminate"><svg viewBox="22 22 44 44" class="MuiCircularProgress-svg"> <circle cx="44" cy="44" r="20.2" fill="none" stroke-width="3.6" class="MuiCircularProgress-circle MuiCircularProgress-circleIndeterminate"></circle></svg></div>

<div *ngIf="deliverysuccess">
  <p>Your Item will be picked up from {{registerForm.value.pickup_address}}
  and dropped off at {{this.registerForm.value.dropoff_address}} 
  </p>
  <p>The delivery of your item is currently in {{deliveryStatus}} status </p>
  <p>The total cost of the delivery is ${{fee}}</p>
  <p>Estimated delivery duration for your order is {{duration}} minutes</p>
  <p>The Estimated Delivery ETA for your item is {{deliverytime}}</p>
</div>


